In [6]:
#https://www.ncdc.noaa.gov/cdo-web/token
#add the access token you got from NOAA
Token = 'IlEwzFciUIPXKhvPenEKOtnVKXMvxsaV'

In [7]:
#needed to make web requests
import requests

#store the data we get as a dataframe
import pandas as pd

#convert the response as a strcuctured json
import json

#mathematical operations on lists
import numpy as np

#parse the datetimes we get from NOAA
from datetime import datetime

In [8]:
# Penobscot County, ME
#station_id = 'FIPS:23019'
#CAMBRIDGE, ID US
station_id = 'GHCND:USC00101408'

In [13]:
#initialize lists to store data
dates_temp = []
dates_prcp = []
temps = []
prcp = []

#for each year from 2015-2019 ...
for year in range(1950, 1975):
    year = str(year)
    print('working on year '+year)
    
    #make the api call
    #r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00023129&startdate='+year+'-01-01&enddate='+year+'-12-31', headers={'token':Token})
   
  #make the api call
    #https://www.ncdc.noaa.gov/cdo-web/webservices/v2
    r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/datasets?stationid=GHCND:USC00101408')
    d = json.loads(r.text)
    #get all items in the response which are average temperature readings
   # avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']
    #get all items in the response which are average PRECIP readings
    avg_PRCP = [item for item in d['results'] if item['datatype']=='PRCP']
    #get the date field from all average temperature readings
 #   dates_temp += [item['date'] for item in avg_temps]
    #get the date field from all average temperature readings
    dates_PRCP += [item['date'] for item in avg_PRCP]
    #get the actual average temperature from all average temperature readings
 #   temps += [item['value'] for item in avg_temps]
      #get the actual average temperature from all average     PRCP readings
    PRCP += [item['value'] for item in avg_PRCP]

working on year 1950

KeyError: 'results'

In [14]:
r

In [15]:
#initialize dataframe
df_temp = pd.DataFrame()

#populate date and average temperature fields (cast string date to datetime and convert temperature from tenths of Celsius to Fahrenheit)
df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['month'] = df_temp['date'].dt.month
#[datetime.strptime(d, "%Y-%m-%dT%H:%M:%S").dt.month for d in dates_temp]


#df_temp['avgTemp'] = [float(v)/10.0*1.8 + 32 for v in temps]
df_temp['avgTemp'] = [float(v)/10.0 for v in temps]

AttributeError: Can only use .dt accessor with datetimelike values

In [16]:
df_temp
df_summer=df_temp[df_temp['date']>= datetime.strptime('2013-06-01', "%Y-%m-%d")]

In [49]:

df_temp['avgTemp'].dtypes

dtype('float64')

In [50]:
df_summer['date'].dt.month

61       6
62       6
63       6
64       6
65       6
        ..
1000    12
1001    12
1002    12
1003    12
1004    12
Name: date, Length: 944, dtype: int64

In [51]:
df_temp

           date  month  avgTemp
0    2013-04-01      4     16.1
1    2013-04-02      4     16.1
2    2013-04-03      4     16.8
3    2013-04-04      4     17.3
4    2013-04-05      4     17.2
...         ...    ...      ...
1000 2015-12-27     12      9.8
1001 2015-12-28     12      9.2
1002 2015-12-29     12      9.9
1003 2015-12-30     12     10.4
1004 2015-12-31     12     11.5

[1005 rows x 3 columns]

In [54]:
df_summer=df_temp[(df_temp['month']>= 6) & (df_temp['month']<= 8) ]
df_summer

          date  month  avgTemp
61  2013-06-01      6     21.0
62  2013-06-02      6     19.2
63  2013-06-03      6     19.2
64  2013-06-04      6     19.1
65  2013-06-05      6     19.7
..         ...    ...      ...
878 2015-08-27      8     27.0
879 2015-08-28      8     28.2
880 2015-08-29      8     27.3
881 2015-08-30      8     26.3
882 2015-08-31      8     23.8

[276 rows x 3 columns]

In [55]:
df_summer['avgTemp'].mean()

21.859782608695628